name: Hilingual PR CI

on:
  pull_request:
    branches: [ develop, main ]

jobs:
  lint:
    name: PR Lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Create local.properties from secret
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: |
          if [ -n "$LOCAL_PROPERTIES" ]; then
            echo "${LOCAL_PROPERTIES}" > local.properties
            echo "sdk.dir=$ANDROID_SDK_ROOT" >> local.properties
          else
            echo "LOCAL_PROPERTIES secret not found. Skipping."
          fi

      - name: Grant permission to gradlew
        run: chmod +x ./gradlew

      - name: Run ktlint
        run: ./gradlew ktlintCheck

  build:
    name: PR Build Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Create local.properties from secret
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: |
          if [ -n "$LOCAL_PROPERTIES" ]; then
            echo "${LOCAL_PROPERTIES}" > local.properties
            echo "sdk.dir=$ANDROID_SDK_ROOT" >> local.properties
          else
            echo "LOCAL_PROPERTIES secret not found. Skipping."
          fi

      - name: Decode and install debug keystore
        env:
          DEBUG_KEYSTORE_BASE64: ${{ secrets.DEBUG_KEYSTORE_BASE64 }}
        run: |
          if [ -n "$DEBUG_KEYSTORE_BASE64" ]; then
            mkdir -p ./keystore
            echo "$DEBUG_KEYSTORE_BASE64" | base64 --decode > ./keystore/hilingual-debug-key.jks
          else
            echo "DEBUG_KEYSTORE_BASE64 secret not found. Skipping."
          fi

      - name: Create google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          if [ -n "$GOOGLE_SERVICES_JSON" ]; then
            echo "$GOOGLE_SERVICES_JSON" > ./app/google-services.json
          else
            echo "GOOGLE_SERVICES_JSON secret not found. Skipping."
          fi

      - name: Grant permission to gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew :app:assembleDebug --stacktrace